In [26]:
import pandas as pd
from sqlalchemy import create_engine, text
engine = create_engine("postgresql+psycopg2://admin:admin@localhost:5432/mpd")

## Track Info

In [10]:
pd.read_sql("""
SELECT *
FROM mpd.tracks
LIMIT 10;
""", engine)

,track_uri,track_name,artist_name,album_name
0,spotify:track:0UaMYEvWZi0ZqiDOoHU3YI,Lose Control (feat. Ciara & Fat Man Scoop),Missy Elliott,The Cookbook
1,spotify:track:6I9VzXrHxO9rA9A5euc8Ak,Toxic,Britney Spears,In The Zone
2,spotify:track:0WqIKmW4BTrj3eJFmnCKMv,Crazy In Love,Beyoncé,Dangerously In Love (Alben für die Ewigkeit)
3,spotify:track:1AWQoqb9bSvzTjaLralEkT,Rock Your Body,Justin Timberlake,Justified
4,spotify:track:1lzr43nnXAijIGYnCT8M8H,It Wasn't Me,Shaggy,Hot Shot
5,spotify:track:0XUfyU2QviPAs6bxSpXYG4,Yeah!,Usher,Confessions
6,spotify:track:68vgtRHr7iZHpzGpon6Jlo,My Boo,Usher,Confessions
7,spotify:track:3BxWKCI06eQ5Od8TY2JBeA,Buttons,The Pussycat Dolls,PCD
8,spotify:track:7H6ev70Weq6DdpZyyTmUXk,Say My Name,Destiny's Child,The Writing's On The Wall
9,spotify:track:2PpruBYCo4H7WOBJ7Q2EwM,Hey Ya! - Radio Mix / Club Mix,OutKast,Speakerboxxx/The Love Below

## Playlist Info

In [11]:
pd.read_sql("""
SELECT *
FROM mpd.playlists
ORDER BY modified_at DESC
LIMIT 10;
""", engine)

     pid        name  num_tracks  num_followers  collaborative  modified_at
0   1851        mmm.         182              1          False   1509494400
1  10541     spanish          62              1          False   1509494400
2   1225       happy          27              1          False   1509494400
3    350  Latin Trap          83              1          False   1509494400
4    324     Me Like          74              3          False   1509494400
5  10530      2000's          50              1          False   1509494400
6    984     Pump up         203              1          False   1509494400
7   1200       other          10              1          False   1509494400
8     20     mixtape          14              3          False   1509494400
9  10796         her          21              1          False   1509494400

## Tracks in Playlists

In [12]:
pd.read_sql("""
SELECT *
FROM mpd.playlist_tracks
LIMIT 10;
""", engine)

   pid  pos                             track_uri
0    0    0  spotify:track:0UaMYEvWZi0ZqiDOoHU3YI
1    0    1  spotify:track:6I9VzXrHxO9rA9A5euc8Ak
2    0    2  spotify:track:0WqIKmW4BTrj3eJFmnCKMv
3    0    3  spotify:track:1AWQoqb9bSvzTjaLralEkT
4    0    4  spotify:track:1lzr43nnXAijIGYnCT8M8H
5    0    5  spotify:track:0XUfyU2QviPAs6bxSpXYG4
6    0    6  spotify:track:68vgtRHr7iZHpzGpon6Jlo
7    0    7  spotify:track:3BxWKCI06eQ5Od8TY2JBeA
8    0    8  spotify:track:7H6ev70Weq6DdpZyyTmUXk
9    0    9  spotify:track:2PpruBYCo4H7WOBJ7Q2EwM

In [13]:
pd.read_sql(
    """
    SELECT 
        track_uri, 
        COUNT(pos) AS track_cnt
    FROM mpd.playlist_tracks
    GROUP BY track_uri
    ORDER BY track_cnt DESC
    LIMIT 10;
    """, engine)

                              track_uri  track_cnt
0  spotify:track:7KXjTSCq5nL1LoYtL7XAwS      46574
1  spotify:track:1xznGGDReH1oQq0xzbwXa3      43447
2  spotify:track:7yyRTcZmCiyzzJlNzGC9Ol      41309
3  spotify:track:7BKLCZ1jbUBVqRi2FVlTVw      41079
4  spotify:track:3a1lNhkSLSkpJE4MSHpDu9      39987
5  spotify:track:5hTpBe8h35rJ67eAWHQsJx      35202
6  spotify:track:2EEeOnHehOozLq4aS0n6SL      35138
7  spotify:track:4Km5HrUvYTaSUfiSGPJeQR      34999
8  spotify:track:7GX5flRQZVHRAGd6B4TmDO      34922
9  spotify:track:152lZdxL1OR0ZMW6KquMif      34657

In [14]:
pd.read_sql(
    """
    SELECT *
    FROM mpd.tracks
    WHERE track_uri IN (
        'spotify:track:7KXjTSCq5nL1LoYtL7XAwS',
        'spotify:track:1xznGGDReH1oQq0xzbwXa3',
        'spotify:track:7yyRTcZmCiyzzJlNzGC9Ol',
        'spotify:track:7BKLCZ1jbUBVqRi2FVlTVw'
    );
    """, engine)

,track_uri,track_name,artist_name,album_name
0,spotify:track:1xznGGDReH1oQq0xzbwXa3,One Dance,Drake,Views
1,spotify:track:7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,Closer
2,spotify:track:7KXjTSCq5nL1LoYtL7XAwS,HUMBLE.,Kendrick Lamar,DAMN.
3,spotify:track:7yyRTcZmCiyzzJlNzGC9Ol,Broccoli (feat. Lil Yachty),DRAM,Big Baby DRAM

In [43]:
q = text(
    """
    SELECT track_uri, track_name, artist_name, album_name
    FROM mpd.tracks
    WHERE track_name LIKE 'Alright'
        AND artist_name = 'Kendrick Lamar'
    ORDER BY track_name ASC
    """
)
pd.read_sql(q, engine)

,track_uri,track_name,artist_name,album_name
0,spotify:track:0ECs7wpW9157Tk5yBUGbE0,Alright,Kendrick Lamar,Alright
1,spotify:track:3iVcZ5G6tvkXZkZKlMpIUs,Alright,Kendrick Lamar,To Pimp A Butterfly