In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
engine = create_engine("postgresql+psycopg2://admin:admin@localhost:5432/mpd")

## Stats

- Number of pid: 999,999
- Number of (pid, pos): 66,346,052
- Number of track_uri: 2,262,107
- Number of album_uri: 734,647
- Number of artist_uri: 295,844

In [ ]:
pd.read_sql("""
    SELECT *
    FROM train.playlist_tracks
    LIMIT 5
""", engine)

   pid  pos                             track_uri
0    0    0  spotify:track:0UaMYEvWZi0ZqiDOoHU3YI
1    0    1  spotify:track:6I9VzXrHxO9rA9A5euc8Ak
2    0    2  spotify:track:0WqIKmW4BTrj3eJFmnCKMv
3    0    3  spotify:track:1AWQoqb9bSvzTjaLralEkT
4    0    4  spotify:track:1lzr43nnXAijIGYnCT8M8H

In [14]:
pd.read_sql("""
    SELECT *
    FROM train.playlists
    ORDER BY pid ASC
    LIMIT 5
""", engine)

,pid,name,num_tracks,num_artists,num_albums,num_followers,num_edits,playlist_duration,modified_at,collaborative
0,0,Throwbacks,52,37,47,1,6,11532414,1493424000,False
1,1,Awesome Playlist,39,21,23,1,5,11656470,1506556800,False
2,2,korean,64,31,51,1,18,14039958,1505692800,False
3,3,mat,126,86,107,1,4,28926058,1501027200,False
4,4,90s,17,16,16,2,7,4335282,1401667200,False

In [18]:
pd.read_sql("""
    SELECT *
    FROM train.tracks
    LIMIT 5
""", engine)

,track_uri,track_name,artist_uri,artist_name,album_uri,album_name,track_duration
0,spotify:track:2Ho30Bg4GTzf4crCeBEuGw,Aneurysm - Live At Del Mar Fairgrounds / 1991,spotify:artist:6olE6TJLqED3rqDCT0FyPh,Nirvana,spotify:album:7rL8S0xxGBPpDVAENsgz4p,From The Muddy Banks Of The Wishkah,271626
1,spotify:track:7lBeCwoaUFiOohc998YZYe,WUZU,spotify:artist:0kjh83tyqWSJPWaZatIzuy,Losi,spotify:album:3EQ8X0QRe2yC1JLhEo6KDY,Wuzu,214400
2,spotify:track:7vE1zjMK4dyB9I3HPZjJYw,Angel,spotify:artist:4AK6F7OLvEQ5QYCBNiQWHq,One Direction,spotify:album:4T9nGBSPBqPIUGlom7Mzym,Uncharted Shores,121436
3,spotify:track:7eOxxNDdEro7EdnV2ZtoTG,Hamburger Helper,spotify:artist:1P3TIB0uzW5IHXDRhA1axv,Helper,spotify:album:7d2RJ2wlCROWogvI7bUpuW,Watch the Stove,244480
4,spotify:track:0G2a498MmChr3wI4iJ57Tg,Message Seen,spotify:artist:6LT9HgmvJ6mfrI1ZPF0OOj,Sable,spotify:album:0V1G4vo5dv3UjB0jjPnsi3,URL LUV,139120